body{
    background-color:#f4f4f4 ;
    font-family: Arial, sans-serif;
}

.login{
    width: 400px;
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 50px auto;
    padding: 20px;
    box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
}

.signup, .profile{
    width: 400px;
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 50px auto;
    padding: 20px;
    box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    color: rgb(62, 116, 222);
    margin-top: 10px;
    margin-bottom: 20px; 

}

h2{
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;
}

form{
    width: 400px;
    margin-left: 10px;
    
}

form label{
    font-size: 16px;   
}

form input{
    width: 350px;
    border-color: #ccc;
    border-style:solid;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#gender{
    font-size: 14px;
    width: 370px;
    border-color: #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#signup_btn, #login_btn{
  
   width: 370px;
   height: 40px;
   margin-top: 20px;
   border: none;
   background-color: #4caf50;
   color: #fff;
   font-size: 15px;
   border-radius: 3px; 
   cursor: pointer;  
   
}

#edit_btn, #update_btn, #logout_btn, #delete_btn{
    width: 170px;
    height: 40px;
    margin-top: 20px;
    margin-right: 15px;
    border: none;
    background-color: rgb(62, 116, 222);
    color: #fff;
    font-size: 15px;
    border-radius: 3px; 
    cursor: pointer;  
}


.remember input{
    height: 1em;
    width: 1em;
}

p{
   text-align: center;
   color: #000;
   
}

p a{
    color: #007bff;
    cursor: pointer;
}